.container-resident{

    width: 80%;
    margin: 30px auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center ;
    padding: 50px 20px;
    border-radius: 20px;
    
}

.container-btns{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
}

.btn-1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: rgb(10, 25, 233);
    color: rgb(250, 245, 245);
    border: none;
    margin-bottom: 10px;
}


.btn-1:focus{
    background-color: rgb(233, 39, 39);
    color: black;
    box-shadow: 2px 2px 20px rgb(180, 25, 25);
}


@media screen and (max-width: 700px) {

    .container-resident{
        width: 100%;
        justify-content: center;
    }

    .btn-1{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center ;
        align-items: center;
        background-color: rgb(6, 12, 17);
        color: white;
        border: none;
    }
    
    
}